.img {
  border: 1px solid red;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  text-underline-position: below;

}

.li-item {
 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: x-large
}


.li-span {
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: center;
  font-size: x-large;

}

.select-bar {
  border: solid red;
  justify-content: center;
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
};

